/* You can add global styles to this file, and also import other style files */

@import 'ngx-toastr/toastr';



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$color:red;
$white:white;
$green:green;

$edit:rgb(75, 75, 75);
.main-title{
    font-size: 50px;
    color:#000000;
    font-family: 'Inter';
}

.plus{
    width:50px;
     height: 50px; 
     display: flex;
     justify-content: center;
     align-items: center;
}
.show-data {
    margin-bottom: 30px;
}

.delete{
  color:$color;
  font-size: 20px;
  border: 2px solid $color;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  height:45px;
}
.delete:hover{
  background-color:$color;
  color:$white;
}
.edit{
    color:$green;
    font-size: 20px;
    border: 1px solid rgb(27, 65, 38);
    border-radius: 10px;
    height:45px;

}
.edit:hover{
    background-color:green;
    color:$white;
}


@media (max-width:500px){
    html{
        font-size: 10px;
        width: 71rem;
        margin: 0;
        padding: 0;
    }
    p{
        font-size: 2rem;
    }

    .navbar .container-fluid{
        width: 100%;
        height: auto;
        display: inline-block;
        background-color: #f7f7f7;
        margin-top:-10px;
    }
    .navbar .container-fluid .navbar-brand img{
        width: 200px;
        height: 70px;
        margin-top:20px;
    }

}



